 <!-- Footer -->
 <footer class="footer">
    <div class="footer-list">
      <a href="#home" class="footer-link">Home</a>
      <a href="#tours" class="footer-link">Tours</a>
      <a href="#testimonials" class="footer-link">Testimonials</a>
      <a href="#contact" class="footer-link">Contact</a>
      <a href="../myguide.ejs" class="footer-link">My Guide</a>

    </div>
    <p class="footer-paragraph">
      Copyright All Rights Reserved
    </p>
  </footer>
  <!-- End of Footer -->