  <div class="container">
    <!-- Navbar -->
    <div class="open-navbar-icon navbar-icon center">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <div class="navbar-wrapper">
      <nav class="navbar">
        <div class="close-navbar-icon navbar-icon center">
          <div class="line line-1"></div>
          <div class="line line-2"></div>
        </div>
        <div class="nav-list">
          <a href="#home" class="nav-link center">Home</a>
          <a href="#tours" class="nav-link center">Tours</a>
          <a href="#testimonials" class="nav-link center">Testimonials</a>
          <a href="#contact" class="nav-link center">Contact</a>
          <a href="../myguide.ejs" class="nav-link center">My Guide</a>
        </div>
      </nav>
 

    
    <!-- End of Navbar -->

 
    
  </div>

          <!-- Logo  -->
          <div class="logo">
            <h1>
              <span class="center">T</span>
              <span class="center">R</span>
              <span class="center">A</span>
              <span class="center">V</span>
              <span class="center">E</span>
              <span class="center">L</span>
              <span class="center">G</span>
              <span class="center">E</span>
              <span class="center">N</span>
              <span class="center">I</span>
              <span class="center">E</span>
            </h1>
      
         
          </div>
             <!-- end of logo  -->