<!-- Header -->
<header class="header center">
    <div class="header-text">
      <h1 class="heading">Around the world</h1>
      <p class="header-paragraph">
        "Traveling - it leaves you speechless, then turns you into a
        storyteller"
      </p>
    </div>
    <img
      src="images/air-balloon.png"
      alt="Header Image"
      class="header-image"
    />
    
  </header>
  <!-- End of Header -->