<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="css/guidestyles.css" />

  <title>City</title>
</head>

<body>
    <%- include("partials/nav"); -%>

  <div class="container">
    <diV class="Tour-guide-tile">
      <div class="Tour-guide-image">
        <img src="images/ayush.jpeg" alt="Guide">
      </div>
      <div class="Tour-Guide_details">
        <h2 class="Tour-Guide-name">Ayush Bhai Mehta</h2>
        <h4 class="Tour-Guide-exp">Experience: 5 Years</h4>
        <p class="Tour-Guide-description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, quos provident deleniti aperiam exercitationem cum voluptate placeat nemo dolores iure sunt eligendi doloribus laudantium explicabo nisi blanditiis, cumque ipsa natus!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat reprehenderit autem, voluptate nostrum quaerat explicabo laboriosam ut provident commodi quos in, quidem incidunt id officiis recusandae, soluta eligendi rem ullam!
        </p>
      </div>
    </diV>
    <diV class="Tour-guide-tile">
      <div class="Tour-guide-image">
        <img src="images/prakhar.jpg" alt="Guide">
      </div>
      <div class="Tour-Guide_details">
        <h2 class="Tour-Guide-name">Prakhar Tomar</h2>
        <h4 class="Tour-Guide-exp">Experience: 2 Years</h4>
        <p class="Tour-Guide-description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, quos provident deleniti aperiam exercitationem cum voluptate placeat nemo dolores iure sunt eligendi doloribus laudantium explicabo nisi blanditiis, cumque ipsa natus!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat reprehenderit autem, voluptate nostrum quaerat explicabo laboriosam ut provident commodi quos in, quidem incidunt id officiis recusandae, soluta eligendi rem ullam!
        </p>
      </div>
    </diV>
    <diV class="Tour-guide-tile">
      <div class="Tour-guide-image">
        <img src="images/Anuj.jpg" alt="Guide">
      </div>
      <div class="Tour-Guide_details">
        <h2 class="Tour-Guide-name">Anuj Awasthi</h2>
        <h4 class="Tour-Guide-exp">Experience: 3 Years</h4>
        <p class="Tour-Guide-description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, quos provident deleniti aperiam exercitationem cum voluptate placeat nemo dolores iure sunt eligendi doloribus laudantium explicabo nisi blanditiis, cumque ipsa natus!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat reprehenderit autem, voluptate nostrum quaerat explicabo laboriosam ut provident commodi quos in, quidem incidunt id officiis recusandae, soluta eligendi rem ullam!
        </p>
      </div>
    </diV>
    
  </div>
  <%- include("partials/footer"); -%>
  <script src="script.js"></script>

</body>

</html>